# Test that the docker image builds correctly
# and that running the ingestion and scoring programs works
# Also use cache for the data and the docker image.
name: Test Docker Image

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            DOCKER_IMAGE_NAME: docker-codabench-test

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Prepare buildx cache dir
              run: mkdir -p /tmp/.buildx-cache

            - name: Cache Docker buildx layers
              uses: actions/cache@v3
              with:
                path: /tmp/.buildx-cache
                key: ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile') }}-${{ github.ref }}
                restore-keys: |
                    ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile') }}-

            - name: Build Docker image
              run: |
                docker build --progress=plain \
                    --cache-from=type=local,src=/tmp/.buildx-cache \
                    --cache-to=type=local,dest=/tmp/.buildx-cache,mode=max \
                    -t ${{ env.DOCKER_IMAGE_NAME }} .

            - name: Prepare input/output directories (per README)
              run: |
                set -e
                python setup_data.py

            - name: Test ingestion program
              run: |
                docker run --rm -it -u root \
                    -v "./ingestion_program":"/app/ingestion_program" \
                    -v "./dev_phase/input_data":/app/input_data \
                    -v "./ingestion_res":/app/output \
                    -v "./solution":/app/ingested_program \
                    --name ingestion ${{ env.DOCKER_IMAGE_NAME }} \
                        python /app/ingestion_program/ingestion.py

            - name: Test scoring program
              run: docker run --rm -it -u root \
                    -v "./scoring_program":"/app/scoring_program" \
                    -v "./dev_phase/reference_data":/app/input/ref \
                    -v "./ingestion_res":/app/input/res \
                    -v "./scoring_res":/app/output \
                    --name scoring ${{ env.DOCKER_IMAGE_NAME }} \
                        python /app/scoring_program/scoring.py
